@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #00000;
  --color-secondary: #232f3e;
  --color-hover: #f2b400;
  --font-sans: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}
